body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{
    color:orange;
}
.flexible-container{
    display: flex;
    padding-left: 6%;
    padding-top: 2%;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(223, 159, 41),rgb(234,117,93));
    color: white;
    font-size: 700;
    padding: 5px 20px;
    border-radius: 3px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second{
    width: 50%;
}
.second img{
    width: 70%;
    padding-right: 10%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-paragraph{
    padding-right: 22%;
    
}
.experience-item{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experience{
    margin-left: 5%;
}
#video-editor{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}